---
layout: post
title: Test Results
---
<table>
<caption class="h1">gutachten</caption>
<tr><th>model</th><th colspan="100">pages</th></tr>
<tr>
<th>TableBank_X152_Psarpei</th>
<td><img title=" 3 regions" src="gutachten/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei_1.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>DocBank_X101</th>
<td><img title=" 24 regions" src="gutachten/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101_1.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>Jambo-sudo_X101</th>
<td><img title=" 18 regions" src="gutachten/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101_1.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>PRImALayout_R50</th>
<td><img title=" 19 regions" src="gutachten/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50_1.IMG-DEBUG.png"/></td>
</tr></table>
<table>
<caption class="h1">column-samples</caption>
<tr><th>model</th><th colspan="100">pages</th></tr>
<tr>
<th>TableBank_X152_Psarpei</th>
<td><img title=" 0 regions" src="column-samples/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei-bengel_abriss01_1751-0007.IMG-DEBUG.png"/></td>
<td><img title=" 1 regions" src="column-samples/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei-corvinus_frauenzimmer_1715-0054.IMG-DEBUG.png"/></td>
<td><img title=" 1 regions" src="column-samples/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei-dannhauer_catechismus04_1653-0585.IMG-DEBUG.png"/></td>
<td><img title=" 0 regions" src="column-samples/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei-eiteritz_affe_1719-0206.IMG-DEBUG.png"/></td>
<td><img title=" 1 regions" src="column-samples/data/OCR-D-SEG-TableBank_X152_Psarpei/OCR-D-SEG-TableBank_X152_Psarpei-fleming_jaeger01_1719-0117.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>DocBank_X101</th>
<td><img title=" 1 regions" src="column-samples/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101-bengel_abriss01_1751-0007.IMG-DEBUG.png"/></td>
<td><img title=" 2 regions" src="column-samples/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101-corvinus_frauenzimmer_1715-0054.IMG-DEBUG.png"/></td>
<td><img title=" 2 regions" src="column-samples/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101-dannhauer_catechismus04_1653-0585.IMG-DEBUG.png"/></td>
<td><img title=" 1 regions" src="column-samples/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101-eiteritz_affe_1719-0206.IMG-DEBUG.png"/></td>
<td><img title=" 3 regions" src="column-samples/data/OCR-D-SEG-DocBank_X101/OCR-D-SEG-DocBank_X101-fleming_jaeger01_1719-0117.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>Jambo-sudo_X101</th>
<td><img title=" 8 regions" src="column-samples/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101-bengel_abriss01_1751-0007.IMG-DEBUG.png"/></td>
<td><img title=" 22 regions" src="column-samples/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101-corvinus_frauenzimmer_1715-0054.IMG-DEBUG.png"/></td>
<td><img title=" 6 regions" src="column-samples/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101-dannhauer_catechismus04_1653-0585.IMG-DEBUG.png"/></td>
<td><img title=" 6 regions" src="column-samples/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101-eiteritz_affe_1719-0206.IMG-DEBUG.png"/></td>
<td><img title=" 8 regions" src="column-samples/data/OCR-D-SEG-Jambo-sudo_X101/OCR-D-SEG-Jambo-sudo_X101-fleming_jaeger01_1719-0117.IMG-DEBUG.png"/></td>
</tr>
<tr>
<th>PRImALayout_R50</th>
<td><img title=" 8 regions" src="column-samples/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50-bengel_abriss01_1751-0007.IMG-DEBUG.png"/></td>
<td><img title=" 13 regions" src="column-samples/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50-corvinus_frauenzimmer_1715-0054.IMG-DEBUG.png"/></td>
<td><img title=" 7 regions" src="column-samples/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50-dannhauer_catechismus04_1653-0585.IMG-DEBUG.png"/></td>
<td><img title=" 9 regions" src="column-samples/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50-eiteritz_affe_1719-0206.IMG-DEBUG.png"/></td>
<td><img title=" 9 regions" src="column-samples/data/OCR-D-SEG-PRImALayout_R50/OCR-D-SEG-PRImALayout_R50-fleming_jaeger01_1719-0117.IMG-DEBUG.png"/></td>
</tr></table>
